* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 300px;
}

.fim {
  padding: 20px;
  margin: 20px 60px 40px 370px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.171);
}

span.carregando {
  display: block;
  background-color: tomato;
  width: 0%;
  height: 10px;
  animation: animateSquare .3s forwards;
  margin-left: 345px;
}

@keyframes animateSquare {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}